<div class="row">
  <div class="col-12 col-md-3">
    <%= render partial: 'conversations' %>
  </div>

  <div class="col">
    <div class="alert alert-primary">
      <h4 class="alert-heading">
        A simple rails chat app that interacts with telegram bot!
      </h4>

      <p>
        Press on any chat to see the messages!
      </p>
    </div>
  </div>
</div>